body {
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
}
/* .final-project {
  margin: 0 auto;
  width: 80%;
  height: 300px;
  padding: 20px;
  border: 1px solid#ccc;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
} */
.final-project a {
  width: 100%;
  background-color: #472929;
  color: white;
  font-size: larger;
  font-weight: 500;
  border: 2px solid #ccc; 
  text-decoration: none;
  width: 250px;
  padding: 10px;
}
body {
  font-size: 18px;
  padding: 20px;
}
.final-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  color: white;
}
.background-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #472929;
  object-fit: cover;
  z-index: -1;
}
.final-project:last-child {
  position: absolute;
  bottom: 0;
}
.backgroundElement {
  height: 100vh;
}
/* Mobile styles */
@media (max-width: 768px) {
  body {
    font-size: 16px;
    padding: 10px;
  }

  /* Example of styling a navigation menu differently on mobile */
  nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
}
