body {
  height: auto;
  margin: 0;
  padding: 0;
  background-color: aqua;
}
/* .final-project {
  margin: 0 auto;
  width: 80%;
  height: 300px;
  padding: 20px;
  border: 1px solid#ccc;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
} */
.final-project a {
  width: 100%;
  background-color: #472929;
  color: white;
  font-size: larger;
  font-weight: 500;
  border: 2px solid #ccc; 
  text-decoration: none;
  width: 250px;
  padding: 10px;
}
.final-project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 25% auto 25;
  grid-template-areas: 
    "img img img"
    "img img img"
    "img l-child img";
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  color: white;
}
.background-image{
  grid-area: img;

  top: 0;
  left: 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #472929;
  object-fit: cover;
  z-index: -1;
}
.final-project:first-child {
  grid-area: l-child;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
    "h1"
    "a";
}
.final-project:last-child:first-child {
  grid-area: h1;
}
.final-project:last-child:first-child {
  grid-area: a;
  color: #ccc;
  font-size: large;
  list-style: none;
}
main {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aqua;
}
.section {
  padding: 0;
  position: relative;
  height: 100vh;
  width: auto;
  background-color: blue;
}
.img {
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.div {
  position: absolute;
  bottom: 20px;
  right: calc(50% - 130px);
  height: 500px;
  width: 250px;
  margin: 0;
  padding: 0;
  /* background-color: blue; */
  text-align: center;
}
.div h1 {
  font-size: 80px;
  color: white;
}
.div a::before {
  content: "⇩";
  font-size:x-large;
  text-decoration: none;
  margin-right: 10px ;
}
.div a {
  color: rgb(248, 244, 244);
  width: auto;
  height: 35px;
  text-decoration: none;
}
.backgroundElement {
  height: 100vh;
}
.search-body {
  position: relative;
  width: 100vw;
  height: auto;
}
.search-body h1 {
  position: absolute;
  top: 15px;
  left: calc(50% - 75px);
  width: 250px;
  text-align: center;
  background-color: antiquewhite;
  border-radius: 7px;
}
.background-element {
  margin: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#hotelSearchForm {
  position: absolute;
  top: 100px;
  left: calc(25% - 200px);
  width: 400px;
  color: rgb(7, 7, 7);
  background-color: bisque;
  padding: 15px;
  border-radius: 10px;
}
.submit {
  background-color: rgb(74, 41, 41);
  color: white;
  height: 52px;
  width: 202px;
  margin-left: 100px;
  font-size: large;
  border-radius: 8px;
}
.submit:hover {
  color: white;
  height: 52px;
  width: 202px;
  font-size: medium;
  background-color: rgb(74, 41, 41);
  border: 1px red solid;
}
/* Mobile styles */
@media (max-width: 768px) {
  body {
    font-size: 16px;
    padding: 10px;
  }

  /* Example of styling a navigation menu differently on mobile */
  nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
}
